﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Primer código C Sharp</p>

    @for (int index = 0; index < 12; index++){
    <div>
        @index
    </div>
    }
</div>
